/* Базовые стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  outline: 1px solid red;
} 

@font-face {
  font-family: 'TT Lakes Light';
  src: url('TTLakes-Light.eot');
  src: url('TTLakes-Light.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Light.woff') format('woff'),
    url('TTLakes-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: sans-serif; */
  color: #1b1b1b;
  background-color: #fff;
  padding: 16px;
}

/* ===== Header ===== */
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 0.5px solid #41f6d7;
}

.header__menu-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;

}

.header__menu-btn {
  font-size: 2em;
  padding-inline: 12px;
  padding-bottom: 5px;
  background-color: #ff3e79;
  border-radius: 50%;
  border: #ff3e79;
  margin-right: 5px;
}

.header__logo {
  margin-left: 5px;
}

.header__icons {
  display: flex;
  gap: 15px;
}

.header__icon {
  font-size: 2em;
  padding-inline: 12px;
   padding-bottom: 5px;
   margin: 3px; 
  background-color: #ff3e79;
  border-radius: 50%;
  border: #ff3e79;


}

.header__menu-320 {

  border-left: 2px solid #eaeaea;
  padding-left: 10px;

}

/* ===== Services ===== */
.services {
  background-color: #f8f8f8;
}

.services__title {
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 16px;
  border-left: 4px solid #41f6d7;
  padding-left: 10px;
}

.services__tabs {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.services__tab {
  flex-shrink: 0;
  padding: 8px 12px;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
}

.services__tab--active {
  border-color: #41f6d7;
  background-color: #ffffff;
}

.services__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.services__text {
  line-height: 1.4;
}

.services__link {
  /* color: #00c264; */
  text-decoration: none;
  margin-bottom: 20px;

  /* color: inherit;
  font-weight: 500; */
}

.services__image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 16px;
  border-radius: 8px;
}

/* ===== Медиа-запросы (Desktop ≥ 320px) ===== */
@media (min-width: 320px) and (max-width: 450px) {
  .header__menu-768 {
    display: none;
  }

  .services__header-menu-320 {
    display: none;
  }


  .services__text-2 {
    display: none;
  }
}



/* ===== Медиа-запросы (Desktop ≥ 768px) ===== */
@media (min-width: 450px) {
  .services__header-menu-320 {
    display: none;
  }



  .services__title {
    font-size: 24px;
  }

  .services__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .services__text,
  .services__link {
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
  }

  .services__image {
    max-width: 45%;
  }
}

/* ==== Медиа-запpосы (Desktop ≥ 1120px) ====*/
@media (min-width: 1100px) {
  .header {
    display: none;

  }

  .services__header-menu-320 {
    display: block;
  }

  .services__menu-1120 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__icon {
    margin: 10px;
  }

  .services__tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
  
  padding-bottom: 12px;
  margin-bottom: 16px;
}
}